@model MonthlyReportViewModel
@{
    ViewData["title"] = "Reporte mensual";
    int previousYear = Model.Year - 1;
    int nextYear = Model.Year + 1;
    var amountSummary = new AmountSummaryViewModel()
    {
        Incomes = Model.Incomes,
        Expenses = Model.Expenses,
        Total = Model.Total
    };
}
<partial name="_Submenu" model="SubMenuTransaction.Monthly"/>

<h4>
    Mostrando transacciones de:
    <a asp-route-year="@previousYear" class="btn btn-secondary">
        <i class="bi-chevron-left"></i>
    </a> @Model.Year
    <a asp-route-year="@nextYear" class="btn btn-secondary">
        <i class="bi-chevron-right"></i>
    </a>
</h4>

<partial name="_AmountSummary" model="@amountSummary" />


<table class="table" style="font-size: 20px">
    <thead>
    <tr style="background-color: lightblue">
        <th>Mes</th>
        <th style="text-align: right"> Ingresos</th>
        <th style="text-align: right"> Gastos</th>
    </tr>
    </thead>
    <tbody>
        @foreach (var transaction in Model.TransactionsPerMonth)
        {
            <tr>
                <td>
                    <a style="text-decoration:none;" asp-action="Index" asp-route-year="@Model.Year" asp-route-month="@transaction.Month">
                        @transaction.BaseDate.ToString("MMM")
                    </a>
                </td>
                <td class="asset" style="text-align: right">@transaction.Income</td>
                <td class="liability" style="text-align: right">@transaction.Expense</td>
            </tr>
        }
    </tbody>
</table>